@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  padding: 1.5rem;
  color: #111;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

#app {
  max-width: 680px;
}

button {
  background-color: lightgray;
  border-radius: 8px;
  border-width: 2px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

pre {
  background: #f7f7f8;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 1rem;
  white-space: pre-wrap;
}

#top-panel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: #0f1419;
  gap: 10px;
}

#laser-toggle-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 300px;
  flex-shrink: 0;
  user-select: none;
}

.laser-bg-section {
  height: 100%;
  width: 50%;
  background-color: #172027;
}

#laser-slider {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 40px;
  height: calc(100% - 6px);
  background-color: #e0f2e0;
  border-radius: 14px;
  transition: left 0.3s ease, background-color 0.2s ease;
  z-index: 1;
}

#laser-text {
  position: relative;
  z-index: 2;
}

#laser-center-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 185px;
  border-radius: 18px;
  background-color: #172027;
  border: 2px solid #2c343b;
  padding: 0 40px;
  color: #e0f2e0;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
  overflow: hidden;
}

#laser-off-bg {
  background-color: #2c343b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  transition: background-color 0.2s ease;
}

#laser-on-bg {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  background-color: #172027;
  transition: background-color 0.2s ease;
}

/* Active state when laser is ON */
#laser-toggle-container.active #laser-slider {
  left: calc(100% - 43px);
  background-color: #fff6f8;
}

#laser-toggle-container.active #laser-center-box {
  background-color: #86140d;
  border-color: #cb0e00;
  color: #fff6f8;
}

#laser-toggle-container.active #laser-off-bg {
  background-color: #172027;
}

#laser-toggle-container.active #laser-on-bg {
  background-color: #cb0e00;
}

#laser-toggle-container.active #laser-on-text {
  color: #fff6f8;
}

#laser-off-text,
#laser-on-text {
  position: absolute;
  color: #e0f2e0;
  font-size: 18px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#laser-off-text {
  left: 15px;
}

#laser-on-text {
  right: 15px;
}

.status-message {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: #151b21;
  color: #e0f2e0;
  border-radius: 16px;
  flex-grow: 1;
}
#status-panel-left {
  justify-content: flex-start;
  padding-left: 30px;
}
#status-panel-right {
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}
#status-panel-right p {
  margin: 0;
}

#robotBtn {
  height: 100%;
  width: 200px;
  border-radius: 0px;
  background-color: #172027;
  border: 2px solid #2c343b;
  color: #f5eff7;
}

#left-panel {
  position: relative;
  display: block;
  width: 5%;
  height: 93%;
  background-color: #0f1419;
}

#sendBtn {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: #172027;
  border: 2px solid #2c343b;
  color: #f5eff7;
}
#drawBtn {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: #172027;
  border: 2px solid #2c343b;
  color: #f5eff7;
}

#canvas {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 93%;
}

#video {
  position: absolute; 
  bottom: 0; 
  right: 0; 
  opacity: 100; 
  z-index: -1;
}