body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  padding: 1.5rem;
  color: #111;
}

#app {
  max-width: 680px;
}

button {
  background-color: lightgray;
  border-radius: 8px;
  border-width: 2px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

pre {
  background: #f7f7f8;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 1rem;
  white-space: pre-wrap;
}

.laser-on {
  background-color: red !important; /* Green */
  color: black !important;
  border-color: darkred !important;

}

#top-panel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: #0f1419;
  gap: 10px;
}

#laser-toggle-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 300px;
  flex-shrink: 0;
}

.laser-bg-section {
  height: 100%;
  width: 50%;
  background-color: #172027;
}

#laser-off-bg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

#laser-on-bg {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}

#laser-center-box {
  position: absolute;
  width: 120px;
  height: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2c343b;
  border-radius: 16px;
  padding: 8px 24px;
  color: #f5eff7;
  font-weight: 500;
  z-index: 2;
}

#laser-off-text,
#laser-on-text {
  position: absolute;
  color: #f5eff7;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#laser-off-text {
  left: 15px;
}

#laser-on-text {
  right: 15px;
}

.status-message {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: #151b21;
  color: #f5eff7;
  border-radius: 16px;
  flex-grow: 1;
}
#status-panel-left {
  justify-content: flex-start;
  padding-left: 30px;
}
#status-panel-right {
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}
#status-panel-right p {
  margin: 0;
}

#robotBtn {
  height: 100%;
  width: 200px;
  border-radius: 0px;
  background-color: #172027;
  border: 2px solid #2c343b;
  color: #f5eff7;
}

#left-panel {
  position: relative;
  display: block;
  width: 5%;
  height: 93%;
  background-color: #0f1419;
}

#sendBtn {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: #172027;
  border: 2px solid #2c343b;
  color: #f5eff7;
}
#drawBtn {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: #172027;
  border: 2px solid #2c343b;
  color: #f5eff7;
}

#canvas {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 93%;
}

#video {
  position: absolute; 
  bottom: 0; 
  right: 0; 
  opacity: 100; 
  z-index: -1;
}