/* --- Laser Toggle Component --- */
#laser-toggle-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 300px;
  flex-shrink: 0;
  user-select: none;
}

.laser-bg-section {
  height: 100%;
  width: 50%;
  background-color: #172027;
}

#laser-off-bg {
  background-color: #2c343b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  transition: background-color 0.2s ease;
}

#laser-on-bg {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  background-color: #172027;
  transition: background-color 0.2s ease;
}

#laser-center-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 185px;
  border-radius: 18px;
  background-color: #172027;
  border: 2px solid #2c343b;
  padding: 0 40px;
  color: #e0f2e0;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
  overflow: hidden;
}

#laser-slider {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 40px;
  height: calc(100% - 6px);
  background-color: #e0f2e0;
  border-radius: 14px;
  transition: left 0.3s ease, background-color 0.2s ease;
  z-index: 1;
}

#laser-text {
  position: relative;
  z-index: 2;
}

#laser-off-text,
#laser-on-text {
  position: absolute;
  color: #e0f2e0;
  font-size: 18px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#laser-off-text {
  left: 15px;
}

#laser-on-text {
  right: 15px;
}

/* Laser Active State */
#laser-toggle-container.active #laser-slider {
  left: calc(100% - 43px);
  background-color: #fff6f8;
}

#laser-toggle-container.active #laser-center-box {
  background-color: #86140d;
  border-color: #cb0e00;
  color: #fff6f8;
}

#laser-toggle-container.active #laser-off-bg {
  background-color: #172027;
}

#laser-toggle-container.active #laser-on-bg {
  background-color: #cb0e00;
}

#laser-toggle-container.active #laser-on-text {
  color: #fff6f8;
}

/* --- Robot Toggle Component --- */
#robot-toggle-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 300px;
  flex-shrink: 0;
  user-select: none;
}

.robot-bg-section {
  height: 100%;
  width: 50%;
  background-color: #172027;
}

#robot-off-bg {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: #2c343b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  transition: background-color 0.2s ease;
}

#robot-on-bg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  background-color: #172027;
  transition: background-color 0.2s ease;
}

#robot-center-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 185px;
  border-radius: 18px;
  background-color: #172027;
  border: 2px solid #2c343b;
  padding: 0 40px;
  color: #e0f2e0;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
  overflow: hidden;
}

#robot-slider {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 40px;
  height: calc(100% - 6px);
  background-color: #e0f2e0;
  border-radius: 14px;
  transition: left 0.3s ease, background-color 0.2s ease;
  z-index: 1;
}

#robot-text {
  position: relative;
  z-index: 2;
}

#robot-off-text,
#robot-on-text {
  position: absolute;
  color: #e0f2e0;
  font-size: 18px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#robot-off-text {
  left: 15px;
}

#robot-on-text {
  right: 15px;
}

/* Laser Active State */
#robot-toggle-container.active #robot-slider {
  left: calc(100% - 43px);
  background-color: #f2f1e0;
}

#robot-toggle-container.active #robot-center-box {
  background-color: #79420c;
  border-color: #fa8500;
  color: #f2f1e0;
}

#robot-toggle-container.active #robot-off-bg {
  background-color: #172027;
}

#robot-toggle-container.active #robot-on-bg {
  background-color: #fa8500;
}

#robot-toggle-container.active #robot-on-text {
  color: #f2f1e0;
}