#python 3.11.4
numpy>=1.24,<3.0
scipy>=1.10,<2.0
opencv-python>=4.8,<5.0
matplotlib>=3.7,<3.10
PyYAML>=6.0
pyserial>=3.5
pyrealsense2
pandas
#Note for pyspin FLIR Camera
# pip install spinnaker_python-2.6.0.160-cp38-cp38-linux_x86_64.whl